<h1>Edit</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label "Completed" %> <br />
  <%= f.check_box :tasks, {}, true, false %> <br />
  <%= f.submit %>
<% end %>

<%=link_to 'Tasks', tasks_path %>
